@use '../../scss/variables' as *;

.contacts {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 425px) {
    justify-content: space-between;
  }
  @media (max-height: 650px) {
    flex-direction: column;
    gap: 10px;
  }
  @media (max-height: 325px) {
    height: 100%;
    gap: 0;
  }
}
.contact {
  cursor: pointer;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $transparent-white;
  text-decoration: none;
  transition: all 0.3s ease-in;
  min-width: 100px;
  svg {
    font-size: 3rem;
  }

  span {
    color: inherit;
  }

  &:hover {
    color: $white;
  }

  @media (max-width: 425px) {
    min-width: 50px;

    svg {
      font-size: 3rem;
    }
    span {
      display: none;
    }
  }
  @media (max-height: 500px) {
    svg {
      font-size: 2rem;
    }
  }
  @media (max-height: 325px) {
    span {
      display: none;
    }
  }
}
