@use '../../scss/variables' as *;

.articles {
  display: flex;
  flex-direction: column;
  flex: 55%;
  margin: 0;
  padding: 0;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 66px);
  padding-top: 66px;
  overflow: hidden;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.subtitle {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: $transparent-black;
  margin-bottom: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description {
  flex: 5;
  margin-bottom: 10px;
}
.resources {
  display: flex;
  gap: 20px;
  flex: 1;
}
.icon {
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  cursor: pointer;
  svg {
    font-size: 40px;
    color: $transparent-black;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $active-green;
      transform: scale(1.05);
    }
  }
}
