@use '../../scss/variables' as *;

.reader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: calc(100dvh * 0.8);
  height: 100%;
  max-height: calc(100dvh - $header-fixed);
  margin: 10px;
  background-color: transparent;
  @media (max-width: 425px) {
    margin: 10px;
  }
}
