@use '../../scss/variables' as *;

.logo {
  display: flex;
  align-items: center;
  svg {
    scale: 1;
    fill: $active-white;
    path {
      fill: $active-white;
    }
  }
}

.logoBlack {
  transition: transform 0.3s ease-in-out;

  svg {
    transition: all 0.3s ease-in-out;
    g path,
    g:last-child path {
      fill: $black;
    }
  }
}
