@use '../../scss/variables' as *;

.about {
  color: $black;
  background-color: $white;
}
.wrapper {
  display: flex;
  gap: 50px;
  position: relative;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  flex: 45%;
  padding-top: 66px;
  height: calc(100vh - 66px);

  @media (max-width: 768px) {
    top: 81px;
    height: calc(100vh - 81px);
  }
}

.articles {
  display: flex;
  flex-direction: column;
  flex: 55%;
  margin: 0;
  padding: 0;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 66px);
  padding-top: 66px;
  overflow: hidden;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.content {
  display: flex;
}
.description {
  flex: 5;
}
.links {
  flex: 1;
}
