@use '../../scss/variables' as *;

.about {
  color: $black;
  background-color: $white;
}
.wrapper {
  display: flex;
  position: relative;
}
.info {
  padding-top: 66px;
  position: sticky;
  height: calc(100vh - 66px);
  top: 66px;
  left: 0;

  @media (max-width: 768px) {
    top: 81px;
  }
}
