@import '../../scss/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  color: $dull-white;
  font-weight: 600;
}
.logo {
  max-width: 200px;
  a {
    display: flex;
    align-items: center;
    svg {
      fill: $dull-white;
      path {
        fill: $dull-white;
        stroke: $dull-white;
        stroke-width: 2px;
      }
    }
  }
}
.menu {
  display: flex;
}
.list {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}
.item {
  a {
    display: inline-block;
    color: $dull-white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: $white;
      transform: scale(1.05);
    }
  }
}
.active {
  a {
    color: $white;
  }
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.langBtn {
  font-weight: 600;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.71);
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: #fff;
    transform: scale(1.05);
  }

  cursor: pointer;
}
