$black: #000;
$white: #ffffff;

$transparent-white: rgba($white, 0.71);
$transparent-black: rgba($black, 0.6);

$active: #ffffff;
$active-green: #48b14d;

$header-height: 66px;
$header-padding: 100px;

$animation-durations: (
  'shortTimeAnimation': 0.8s,
  'mediumTimeAnimation': 1.5s,
  'longTimeAnimation': 3s,
);
$animation-delay: (
  'delayAnimation': 0.8s,
);

:root {
  --background-color: #ffffff;
  --background-filter: rgba(0, 0, 0, 0.5);
  --project-preview-filter: 1;
  --project-preview-filter-hover: 0.9;

  --icon-color: rgba(249, 249, 249, 0.0941176471);
  --icon-border-color: #23232323;
  --icon-text-color: #515151;
  --icon-css-modules: #000000;
  --icon-article-color: #707070;

  --white-color: #ffffff;
  --black-color: #000000;
  --transparent-color: rgba(255, 255, 255, 0.7);

  --main-color: #2a2a2a;
  --title-color: #131313;
  --subtitle-color: #606060;

  --active-color: #ffffff;
  --active-fixed-color: #333333;

  --logo-color: #f6f7f9;
  --logo-fixed-color: #2a2a2a;

  --header-border-color: #2323230d;
  --header-list-color: #ffffff;
  --header-item-color: #666666;

  --hamburger-color: rgba(255, 255, 255, 0.7);
  --hamburger-fixed-color: #2a2a2a;
}

[data-theme='dark'] {
  --background-color: #191b21;
  --background-filter: rgba(0, 0, 0, 0.7);
  --project-preview-filter: 0.8;
  --project-preview-filter-hover: 0.9;

  --icon-color: #23272f;
  --icon-border-color: hsla(0, 0%, 100%, 0.05);
  --icon-text-color: rgba(255, 255, 255, 0.7);
  --icon-article-color: rgba(255, 255, 255, 0.7);
  --icon-css-modules: #f6f7f9;

  --white-color: #ffffff;
  --black-color: #000000;
  --transparent-color: rgba(255, 255, 255, 0.7);

  --main-color: #f6f7f9;
  --title-color: #f6f7f9;
  --subtitle-color: #cfcfcf;

  --active-color: #ffffff;
  --active-fixed-color: #8cb4ff;

  --logo-color: #f6f7f9;
  --logo-fixed-color: #f6f7f9;

  --header-border-color: #f6f7f90d;
  --header-list-color: #191b21;
  --header-item-color: rgba(255, 255, 255, 0.7);

  --hamburger-color: #f6f7f9;
  --hamburger-fixed-color: #f6f7f9;
}
