@use '../../scss/variables' as *;

.contacts {
  padding-top: $header-padding;
  height: calc(100dvh - $header-padding);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;

  @media (max-width: 425px) {
    gap: 10px;
  }
  @media (max-height: 500px) {
    gap: 10px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-height: 325px) {
    font-size: 15px;
  }
}

.separator {
  text-align: center;
  color: $transparent-white;
  opacity: 0.7;
  margin-bottom: 4px;
  @media (max-height: 500px) {
    display: none;
  }
}

.contactsHidden {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;
}
