@use '../../scss/variables' as *;

.contacts {
  padding-top: $header-padding;
  height: calc(100dvh - $header-padding);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;

  @media (max-width: 425px) {
    gap: 10px;
  }
}

.separator {
  text-align: center;
  color: $transparent-white;
  opacity: 0.7;
}
